/* Big Shoulders Display fonts link */
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

/* Lexend Deca Display font link */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lexend Deca", sans-serif;
  background-color: hsl(0, 0%, 95%);
  /* position: relative; */
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.column-1 {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.column-2 {
  background-color: hsl(184, 100%, 22%);
}

.column-3 {
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.column {
  padding: 3rem;
}

.primary--heading {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Big Shoulders Display", cursive;
  color: hsl(0, 0%, 95%);
  text-transform: uppercase;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.description {
  font-size: 1.5rem;
  line-height: 1.4;
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 4.4rem;
  font-weight: 400;
}
